---

---

<!-- <button class="border-2 border-black"><slot /></button> -->
<button type="submit" class="font-poetsen bg-[#2C621F] text-white no-underline px-6 py-3 text-lg rounded-full inline-block transition-colors duration-300 ease-in-out hover:bg-[#5DBF45] active:bg-[#1C4214]">
  <slot />
</button>
