<footer class="bg-[#89A074] text-white py-10">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-3 gap-8">
      
      <!-- Addresse og kontakt Information -->
      <div>
        <h2 class="font-semibold text-lg">Let's Do It World NGO</h2>
        <p class="mt-4">
          Roosikrantsi 3, TALLINN 10119, Estonia <br>
          Reg. code - 80562203
        </p>
        <a href="mailto:digital@ldiw.org" class="text-white underline mt-2 block">
          digital@ldiw.org
        </a>
      </div>
      
    <!-- Logo og Social Media Ikoner --> 
    <div class="flex flex-col items-center">
        <a href="/assets/logo.png" target="_blank">
            <img src="/src/assets/images/letsdoitfooter.webp" alt="Let's Do It Logo" class="w-18 h-16 mb-4">
        </a>
        <div class="flex space-x-4">
          <a href="/assets/facebook-icon.svg" class="text-white hover:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
              <!-- Facebook Icon -->
              <img src=src/assets/images/instagram.webp alt="Let's Do It Logo" class="w-16 h-16 mb-4">
            </svg>
          </a>
          <a href="/assets/instagram-icon.svg" class="text-white hover:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
              <!-- Instagram Icon -->
              <path d="M12 2.163c3.204 0 3.584.012 4.85.07 1.17.054 1.795.24 2.213.403a4.474 4.474 0 0 1 1.63.948 4.479 4.479 0 0 1 .947 1.63c.163.418.349 1.043.403 2.213.058 1.266.07 1.646.07 4.85s-.012 3.584-.07 4.85c-.054 1.17-.24 1.795-.403 2.213a4.479 4.479 0 0 1-.948 1.63 4.474 4.474 0 0 1-1.63.947c-.418.163-1.043.349-2.213.403-1.266.058-1.646.07-4.85.07s-3.584-.012-4.85-.07c-1.17-.054-1.795-.24-2.213-.403a4.474 4.474 0 0 1-1.63-.948 4.479 4.479 0 0 1-.947-1.63c-.163-.418-.349-1.043-.403-2.213-.058-1.266-.07-1.646-.07-4.85s.012-3.584.07-4.85c.054-1.17.24-1.795.403-2.213a4.479 4.479 0 0 1 .948-1.63 4.474 4.474 0 0 1 1.63-.947c.418-.163 1.043-.349 2.213-.403 1.266-.058 1.646-.07 4.85-.07m0-2.163C8.755 0 8.346.015 7.469.072 6.575.13 5.783.34 5.07.76 4.357 1.179 3.743 1.795 3.324 2.507c-.42.713-.63 1.505-.688 2.399C2.986 6.346 3 6.755 3 12c0 5.245-.014 5.654.072 6.531.058.894.268 1.686.688 2.399.419.712 1.035 1.328 1.747 1.747.713.42 1.505.63 2.399.688.877.058 1.286.072 6.531.072s5.654-.014 6.531-.072c.894-.058 1.686-.268 2.399-.688.712-.419 1.328-1.035 1.747-1.747.42-.713.63-1.505.688-2.399.058-.877.072-1.286.072-6.531s-.014-5.654-.072-6.531c-.058-.894-.268-1.686-.688-2.399-.419-.712-1.035-1.328-1.747-1.747-.713-.42-1.505-.63-2.399-.688C17.654.015 17.245 0 12 0z"/>
              <circle cx="12" cy="12" r="3.294"/>
              <path d="M18.406 5.594a1.44 1.44 0 0 1-1.44-1.44 1.44 1.44 0 0 1 1.44-1.44 1.44 1.44 0 0 1 1.44 1.44 1.44 1.44 0 0 1-1.44 1.44z"/>
            </svg>
          </a>
          <a href="/assets/linkedin-icon.svg" class="text-white hover:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
              <!-- LinkedIn Icon -->
              <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11.75 20h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.785-1.75-1.75s.784-1.75 1.75-1.75 1.75.785 1.75 1.75-.784 1.75-1.75 1.75zm13.25 12.268h-3v-5.601c0-1.334-.025-3.053-1.861-3.053-1.864 0-2.15 1.455-2.15 2.958v5.696h-3v-11h2.884v1.501h.042c.402-.762 1.383-1.563 2.848-1.563 3.046 0 3.606 2.003 3.606 4.606v6.456z"/>
            </svg>
          </a>
          <a href="/assets/youtube-icon.svg" class="text-white hover:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M23.499 6.203a2.98 2.98 0 0 0-2.103-2.103C19.778 3.522 12 3.522 12 3.522s-7.778 0-9.396.578a2.98 2.98 0 0 0-2.103 2.103c-.577 1.617-.577 5.003-.577 5.003s0 3.386.577 5.003a2.98 2.98 0 0 0 2.103 2.103c1.617.578 9.396.578 9.396.578s7.778 0 9.396-.578a2.98 2.98 0 0 0 2.103-2.103c.577-1.617.577-5.003.577-5.003s0-3.386-.577-5.003zM9.755 15.569v-7.138l6.24 3.569-6.24 3.569z"/>
            </svg>
          </a>
        </div>
      </div>
      
      <!-- Links Sektion -->
      <div class="flex flex-col space-y-4 text-right">
        <a href="#" class="text-white hover:underline">Blog</a>
        <a href="#" class="text-white hover:underline">Marketing Materials</a>
        <a href="#" class="text-white hover:underline">Constitution</a>
        <a href="#" class="text-white hover:underline">Join the movement</a>
      </div>
      
    </div>
  </footer>
  