<footer class="bg-[#89A074] text-white py-10">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-3 gap-8">
      
      <!-- Addresse og kontakt Information -->
      <div>
        <h2 class="font-semibold text-lg">Let's Do It World NGO</h2>
        <p class="mt-4">
          Roosikrantsi 3, TALLINN 10119, Estonia <br>
          Reg. code - 80562203
        </p>
        <a href="mailto:digital@ldiw.org" class="text-white underline mt-2 block">
          digital@ldiw.org
        </a>
      </div>
      
    <!-- Logo og Social Media Ikoner --> 
    <div class="flex flex-col items-center">
        <a href="https://www.digitalcleanupday.org/" target="_blank">
            <img src="/src/assets/images/letsdoitfooter.webp" alt="Let's Do It Logo" class="w-18 h-16 mb-4">
        </a>
        <div class="flex space-x-5">
            <a href="/assets/facebook-icon.svg" class="text-white hover:text-gray-400">
                <img src="/src/assets/images/facebook48.png" alt="Facebook" class="w-8 h-8">
            </a>
            <a href="/assets/instagram-icon.svg" class="text-white hover:text-gray-400">
                <img src="/src/assets/images/instagram48.png" alt="Instagram" class="w-8 h-8">
            </a>
            <a href="/assets/linkedin-icon.svg" class="text-white hover:text-gray-400">
                <img src="/src/assets/images/linkedin48.png" alt="LinkedIn" class="w-8 h-8">
            </a>
            <a href="/assets/youtube-icon.svg" class="text-white hover:text-gray-400">
                <img src="/src/assets/images/youtube48.png" alt="YouTube" class="w-8 h-8">
            </a>
        </div>
    </div>
    
      
      <!-- Links Sektion -->
      <div class="flex flex-col space-y-4 text-right">
        <a href="#" class="text-white hover:underline">Blog</a>
        <a href="#" class="text-white hover:underline">Marketing Materials</a>
        <a href="#" class="text-white hover:underline">Constitution</a>
        <a href="#" class="text-white hover:underline">Join the movement</a>
      </div>
      
    </div>
  </footer>
  