---
import { Image } from "astro:assets";
import logo_trash from "../assets/images/logo_trash.webp";
import Link from "./Link.astro";
---

<div x-data="{ open: false }" class="fixed top-0 left-0 w-full bg-[#89A074] text-black z-50 p-4">
  <!-- Navbar container -->
  <div class="container mx-auto flex items-center justify-between">
    <!-- Logo Section -->

    <a href="#">
      <Image src={logo_trash} alt="Billede af Peter Spand" class="h-[80px] w-auto" />
    </a>

    <!-- Desktop Menu -->
    <nav class="hidden lg:flex space-x-6 text-black font-semibold">
      <a href="#digitalskrald" class="hover:text-green-800">Hvad er digital skrald?</a>
      <a href="#vidstedu" class="hover:text-green-800">Vidste du at?</a>
      <a href="#sådangørdu" class="hover:text-green-800">Sådan gør du!</a>
      <a href="https://www.worldcleanupday.org/?gad_source=1&gclid=Cj0KCQjw9Km3BhDjARIsAGUb4nx7kGh11wWntSUOZOkMX5J3fn-X6GQb7mq_Q9WfTcwqOGbUISpOVe0aAp0hEALw_wcB" target="_blank" class="hover:text-green-800">World cleanup day</a>
    </nav>

    <!-- Button in the right side -->
    <div class="hidden lg:block">
      <Link href="#Registrerbidrag" target="_self" variant="button">Registrer dit bidrag</Link>
    </div>

    <!-- Burger Menu Button (Visible on mobile) -->
    <button @click="open = !open" class="lg:hidden text-black focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu (Visible when burger menu is clicked) -->

  <div x-show="open" @click.away="open = false" class="lg:hidden bg-[#89A074] text-black font-semibold mt-4 text-right">
    <a href="#digitalskrald" class="block px-4 py-2 hover:bg-[#89A474]">Hvad er digital skrald?</a>
    <a href="#vidstedu" class="block px-4 py-2 hover:bg-[#89A474]">Vidste du at?</a>
    <a href="#sådangørdu" class="block px-4 py-2 hover:bg-[#89A474]">Sådan gør du!</a>
    <a href="https://www.worldcleanupday.org/?gad_source=1&gclid=Cj0KCQjw9Km3BhDjARIsAGUb4nx7kGh11wWntSUOZOkMX5J3fn-X6GQb7mq_Q9WfTcwqOGbUISpOVe0aAp0hEALw_wcB" target="_blank" class="font-poetsen block px-4 py-2 hover:bg-[#89A474]">World cleanup day</a>
    <div class="my-6">
      <Link href="#Registrerbidrag" target="_blank" variant="button">Registrer dit bidrag</Link>
    </div>
  </div>
</div>
